div.post-content h1 {
  font-size: 30px;
  line-height: 36px;
}

div.post-content p {
  line-height: 30px;
  font-size: 20px;
}

@media (max-width: 768px) {
    div.post-cntent{
        margin-left: 40px;
        margin-right: 40px;
    }
  div.post-content h1 {
    font-size: 23px;
    line-height: 22px;
  }

  div.post-content p {
    line-height: 25px;
    font-size: 15px;
  }
}
